[user]
    email = m88506@gmail.com
    name = PandaRory
[alias]
    cm = commit
    ca = commit --amend
    co = checkout
    ba = branch
    su = status
    rb = rebase
    re = reset
    df = diff
    dfn = diff --name-only
    lg = log --decorate --graph
    lga = log --decorate --graph --pretty=format:'%C(auto)%H -%C(auto)%d %s %Cgreen(%ci) %C(bold blue)<%an>%Creset'
    lgo = log --decorate --graph --pretty=oneline
[color]
    ui = auto
[core]
    editor = vim